#Jinja template file for NX-OS data switches

#Enable necessary features
{% for feature in (enabled_features | default([])) + (host_enabled_features | default([])) %}
{{ feature }}
{% endfor %}

#Routed port-channel interfaces
{% for pc in portchannels %}
interface Port-channel{{ pc.number }}
 no switchport
 description {{ pc.description }}
 ip address {{ pc.ip }} {{ pc.subnet_mask }}
 mtu 9216
 no shutdown

##Port-channel member interfaces for Port-channel{{ pc.number }}
{% for member in pc.members %}
interface {{member}}
 channel-group {{ pc.number }} mode active
 no shutdown

 {% endfor %}

 {% endfor %}

###Common configurations




